* {
	box-sizing: border-box;
}

body {
	font: 13px Helvetica, Arial, sans-serif;
	padding-left: 10px;
}

#current-stats div {
	width: 100px;
}

#messages {
	overflow: auto;
	margin: 0; 
	padding: 0;

	/* Firefox */
	height: -moz-calc(100vh - (68.5px + 21px + 18px + 18px + 175px + 30px));
	/* WebKit */
	height: -webkit-calc(100vh - (68.5px + 21px + 18px + 18px + 175px + 30px));
	/* Opera */
	height: -o-calc(100vh - (68.5px + 21px + 18px + 18px + 175px + 30px));
	/* Standard */
	height: calc(100vh - (68.5px + 21px + 18px + 18px + 175px + 30px));
	/* Size = size of (viewport - (Current stats header+ Recent events text + its top and bottom padding + hero status footer)) */
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

.ability-icon {
	width:96px;
	height:96px;
	padding:1px;
	border:2px solid #021a40;
}

.hero-icon {
	width:192px;
	height:108px;
	margin-top: 18px;
	padding:1px;
	border:2px solid #021a40;
}

.hero-name {
	font-weight: bold;
	font-size: large;
	text-align: center;
	padding-top: 2px;
}

.item-icon {
	width:88px;
	height:64px;
	padding:1px;
	border:2px solid #021a40;
}

.stash-icon {
	width:66px;
	height:48px;
	padding:1px;
	border:2px solid #021a40;
}

.stash-text {
	font-size: large;
	text-align: center;
	padding-top: 2px;
}

#hero-status {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 188px;
}

#hero {
	padding-left: 5px;
}

#abilities, #items, #stash {
	padding-left: 15px;
}

p {
	font-weight: bold;
	font-size: large;
}